@model IEnumerable<AssignmentC1_School_Qiyuanliu.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p> This page is the informatio about all teachers </p>

    <h2>list of Teachers</h2>
    <div>
        <a href="/Teacher/New">Create a new teacher</a>

    </div>

<div id="containerlist">
    <h2>List of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>



    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
        </div>

    }
</div>