
@{
    ViewBag.Title = "New";
}

<nav>
    <a class="navlink" href="/Teacher/List">Back To Teachers</a>
</nav>

<h2>New Teacher</h2>
<form method="POST" action="/Teacher/Create">
    <div>
        <label>First Name:</label>
        <input type="text" name="TeacherFname" id="TeacherFname" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="TeacherLname" id="TeacherLname" />
    </div>
    <div>
        <label>Employee Number:</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" />
    </div>
    <div>
        <label>Salary:</label>
        <input type="text" name="Salary" id="Salary" />
    </div>

    <div>
        <input type="submit" value="Add Teacher" />
    </div>



</form>
